Questions that need to be answered: 
* Where did the biggest meteorites land?
* Which year did the most meteorites land on Earth?
* Which is the most common type of meteorite?
* Which is the least common type?

In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import os 
import csv

In [2]:
#Import data files or API
source_data_path = os.path.join("./Meteorite_Landings.csv")
data_file_read = pd.read_csv(source_data_path)

In [3]:
#Create data frame and print 
meteorite_df = pd.DataFrame(data_file_read)
meteorite_df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,States,Counties
0,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.98333, -115.68333)",8.0,1177.0
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
45711,Miller Range 05110,45810,Relict,Fusion crust,0.1,Found,2005.0,NaN,NaN,NaN,NaN,NaN
45712,Österplana 031,44831,Relict,Relict OC,NaN,Found,1998.0,58.58333,13.43333,"(58.58333, 13.43333)",NaN,NaN
45713,Österplana 032,44832,Relict,Relict OC,NaN,Found,2000.0,58.58333,13.43333,"(58.58333, 13.43333)",NaN,NaN
45714,Österplana 033,44833,Relict,Relict OC,NaN,Found,2000.0,58.58333,13.43333,"(58.58333, 13.43333)",NaN,NaN
45715,Österplana 034,44834,Relict,Relict OC,NaN,Found,1998.0,58.58333,13.43333,"(58.58333, 13.43333)",NaN,NaN

In [7]:
#Clean all data with no values
# we drop states and counties because they weren´t relevant
clean_meteorite_df = meteorite_df.drop(columns = ["States", "Counties"])
clean_meteorite_df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.98333, -115.68333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"
...,...,...,...,...,...,...,...,...,...,...
45711,Miller Range 05110,45810,Relict,Fusion crust,0.1,Found,2005.0,NaN,NaN,NaN
45712,Österplana 031,44831,Relict,Relict OC,NaN,Found,1998.0,58.58333,13.43333,"(58.58333, 13.43333)"
45713,Österplana 032,44832,Relict,Relict OC,NaN,Found,2000.0,58.58333,13.43333,"(58.58333, 13.43333)"
45714,Österplana 033,44833,Relict,Relict OC,NaN,Found,2000.0,58.58333,13.43333,"(58.58333, 13.43333)"
45715,Österplana 034,44834,Relict,Relict OC,NaN,Found,1998.0,58.58333,13.43333,"(58.58333, 13.43333)"

In [10]:
# we will clean GeoLocation, we will drop NaN
clean_meteorite_df_2 = clean_meteorite_df.dropna(clean_meteorite_df["GeoLocation"],  how = "any")
clean_meteorite_df_2

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [ ]:
#Export clean data for analysis