Questions that need to be answered: 
* Where did the biggest meteorites land?
* Which year did the most meteorites land on Earth?
* Which is the most common type of meteorite?
* Which is the least common type?

In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import os 
import csv

In [2]:
#Import data files or API
source_data_path = os.path.join("./Meteorite_Landings.csv")
data_file_read = pd.read_csv(source_data_path)

In [10]:
#Create data frame and print 
meteorite_df = pd.DataFrame(data_file_read)

meteorite_df["name"].value_counts()

Queen Alexandra Range 97646    1
Pecora Escarpment 91141        1
Queen Alexandra Range 97485    1
Queen Alexandra Range 90223    1
Huangling                      1
                              ..
Hammadah al Hamra 279          1
Northwest Africa 7387          1
Dar al Gani 1041               1
Miller Range 07049             1
Asuka 881326                   1
Name: name, Length: 45716, dtype: int64

In [11]:
#Clean all data with no values
clean_meteorite_df = meteorite_df.dropna(how = 'any')
clean_meteorite_df["name"].value_counts()

Shingle Springs         1
Coopertown              1
Lea County 002          1
Spade                   1
Coyote Dry Lake 130     1
                       ..
Jonesboro               1
Park Forest             1
Goose Lake              1
Enigma                  1
Roosevelt County 038    1
Name: name, Length: 1644, dtype: int64

In [ ]:
#Export clean data for analysis