Questions that need to be answered: 
* Where did the biggest meteorites land?
* Which year did the most meteorites land on Earth?
* Which is the most common type of meteorite?
* Which is the least common type?

In [1]:
#Import dependencies
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
import requests
import json
# from config import apikey
import csv

In [10]:
#Import clean data files or API
meteorite_data = pd.read_csv("./cleaned_meteorite.csv")

In [11]:
#Create the data frame
#Setting index as "name" & sorted by ascending
meteorite_data = meteorite_data.set_index('name')
meteorite_data.sort_values(by='name')

,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
name,,,,,,,,,
Aachen,1,Valid,L5,21.00,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
Aarhus,2,Valid,H6,720.00,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
Abajo,4,Valid,H5,331.00,Found,1982.0,26.80000,-105.41667,"(26.8, -105.41667)"
Abar al' Uj 001,51399,Valid,H3.8,194.34,Found,2008.0,22.72192,48.95937,"(22.72192, 48.95937)"
Abbott,5,Valid,H3-6,21100.00,Found,1951.0,36.30000,-104.28333,"(36.3, -104.28333)"
...,...,...,...,...,...,...,...,...,...
Österplana 062,56161,Relict,Relict OC,0.00,Found,2010.0,58.58333,13.43333,"(58.58333, 13.43333)"
Österplana 063,56162,Relict,Relict OC,0.00,Found,2010.0,58.58333,13.43333,"(58.58333, 13.43333)"
Österplana 064,56163,Relict,Relict OC,0.00,Found,2011.0,58.58333,13.43333,"(58.58333, 13.43333)"
Łowicz,14718,Valid,Mesosiderite-A3,59000.00,Fell,1935.0,52.00000,19.91667,"(52.0, 19.91667)"
Święcany,47342,Valid,L/LL5,8.00,Found,2004.0,49.79139,21.25778,"(49.79139, 21.25778)"

In [18]:
#Calculations for each question
# Where did the biggest meteorites land?
#first calculate the top 10 meteorite by mass
top_mass = meteorite_data.nlargest(10,'mass (g)')
top_mass

,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
name,,,,,,,,,
Hoba,11890,Valid,"Iron, IVB",60000000.0,Found,1920.0,-19.58333,17.91667,"(-19.58333, 17.91667)"
Cape York,5262,Valid,"Iron, IIIAB",58200000.0,Found,1818.0,76.13333,-64.93333,"(76.13333, -64.93333)"
Campo del Cielo,5247,Valid,"Iron, IAB-MG",50000000.0,Found,1575.0,-27.46667,-60.58333,"(-27.46667, -60.58333)"
Canyon Diablo,5257,Valid,"Iron, IAB-MG",30000000.0,Found,1891.0,35.05000,-111.03333,"(35.05, -111.03333)"
Armanty,2335,Valid,"Iron, IIIE",28000000.0,Found,1898.0,47.00000,88.00000,"(47.0, 88.0)"
Gibeon,10912,Valid,"Iron, IVA",26000000.0,Found,1836.0,-25.50000,18.00000,"(-25.5, 18.0)"
Chupaderos,5363,Valid,"Iron, IIIAB",24300000.0,Found,1852.0,27.00000,-105.10000,"(27.0, -105.1)"
Mundrabilla,16852,Valid,"Iron, IAB-ung",24000000.0,Found,1911.0,-30.78333,127.55000,"(-30.78333, 127.55)"
Sikhote-Alin,23593,Valid,"Iron, IIAB",23000000.0,Fell,1947.0,46.16000,134.65333,"(46.16, 134.65333)"
Bacubirito,4919,Valid,"Iron, ungrouped",22000000.0,Found,1863.0,26.20000,-107.83333,"(26.2, -107.83333)"

In [ ]:
# Which year did the most meteorites land on Earth?

In [ ]:
# Which is the most common type of meteorite?

In [ ]:
# Which is the least common type?

In [ ]:
#2 graphs per question.

In [ ]:
#Save graphs as png and export them